.main {
  max-width: 95rem;
  margin: 0 auto;

  padding-left: 2rem;
  padding-right: 2rem;
}

/* Section first */

.location {
  padding-top: 1.5rem;
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;

  font-weight: 600;
}

.p_b_5 {
  padding-bottom: calc((5 / 4) * 16px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 16px;
}

/* Section second */

.wrapper__md_card {
  display: flex;
  justify-content: space-between;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  padding: 0.5rem;
}

.p_y_8 {
  padding: calc((8 / 4) * 16px) 0;
}

@media screen and (min-width: 640px) {
  .main {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .wrapper__sm_card {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .wrapper__sm_card {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1280px) {
  .wrapper__sm_card {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .wrapper__md_card {
    overflow: hidden;
  }
}
