header {
  position: fixed;
  top: 0px;

  color: #fafafc;
  background-color: transparent;

  padding: 1.5rem;
  width: 100%;

  z-index: 10;

  transition: all 0.2s ease 0s;
}

.wrapper__header {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  margin: 0px auto;
}

.wrapper__logo {
  display: none;
  align-items: center;

  cursor: pointer;

  color: rgb(31, 41, 55);
}

.wrapper__nav {
  display: none;
  transition: all 0.2s ease 0s;
}

.wrapper__profile {
  display: none;
  justify-content: flex-end;

  color: rgba(107, 114, 128, 0.6);
}

.logo__icon {
  fill: #fff;
}

/* --------------WHEN USER SCROLLING-------------------*/

.scrolled {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #fafafc;
  transition: all 0.5s ease-in;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.scrolled .logo__icon {
  fill: rgba(236, 72, 153);
}

.scrolled .wrapper__profile,
.scrolled .link {
  color: rgb(46, 46, 72);
}
.scrolled .globe__icon {
  fill: rgb(46, 46, 72);
}

.scrolled .switch__icon {
  fill: #2e2e48;
}

.scrolled .wrapper__search {
  opacity: 0;
}

/* -----------------LEFT HEADER---------------- */

.logo__icon {
  fill: #fff;
}

/* -----------------MIDDLE HEADER---------------- */
.navbar {
  color: rgb(229, 231, 235);
  column-gap: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  position: relative;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #fff;
}

.link.active::before,
.link:hover::before {
  transform: scaleX(1);
}

.navbar a::before {
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 2px;
  border-radius: 2px;
  background: #fafafc;
  bottom: -0.5rem;
  left: calc(50% - 0.75rem);
  transform: scaleX(0);
  transform-origin: center center;
  transition: transform 0.2s ease 0s;
}

.wrapper__location {
  padding-left: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  border-radius: 9999px;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
}

/* -----------------MIDDLE SEARCH---------------- */

.wrapper__search {
  background-color: rgba(255, 255, 255);
  color: #666;
  position: absolute;
  display: grid;
  top: 75%;
  width: max-content;
  transform: translateX(7%);
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin: 1.5rem 0px;

  border-radius: 99px;
  box-shadow: #555 0px 1rem 3rem -1rem;
  transition: all 0.2s ease 0s;
}

.wrapper__search > div:hover,
input:hover {
  background-color: #eee;

  cursor: pointer;
}

.wrapper__location input {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: none;

  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: transparent;
  width: 75%;
  color: #000;
}

.wrapper__location input::placeholder {
  color: rgb(75, 85, 99);
}

.wrapper__check_in {
  padding-left: 1.5rem;
  border-radius: 9999px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-left: 2px solid rgb(209, 213, 219);
  height: 100%;
}

.wrapper__check_out {
  padding-left: 1.5rem;
  border-radius: 9999px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-left: 2px solid rgb(209, 213, 219);
  height: 100%;
}

.wrapper__guests {
  padding-left: 1.5rem;
  border-radius: 9999px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  border-left: 2px solid rgb(209, 213, 219);
  height: 100%;
}

.icon__search {
  display: none;
  background-color: #fc8181;
  color: #fff;
  padding: 0.1rem;
  border-radius: 9999px;
  cursor: pointer;

  width: 32px;
  height: 32px;
  margin-right: 0.75rem;
  flex: 0 0 2.25rem;
}

.wrapper__guests > div {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.input__search::placeholder {
  color: rgb(107, 114, 128);
  font-size: 16px;
}

.wrapper__check_in:hover {
  background-color: rgb(243, 244, 246);
}

.input__date {
  color: rgba(75, 85, 99);

  font-size: 0.875rem;
  line-height: 1.25rem;
}

.button {
  background: transparent;

  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 1rem;
}

.wrapper__date {
  display: flex;
  flex-direction: column;

  margin: calc((6 / 4) * 16px) auto;

  grid-column: span 3 / span 3;
}

.wrapper__text {
  display: flex;
  align-items: center;

  margin-bottom: calc((4 / 4) * 16px);

  border-bottom: 1px solid rgba(107, 114, 128);
}

.text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  flex-grow: 1;
}

.users__icon {
  height: calc((5 / 4) * 16px);
  color: rgba(248, 113, 113);
}

.input__pick {
  width: calc((12 / 4) * 16px);
  padding-left: calc((2 / 4) * 16px);

  font-size: 1.125rem;
  line-height: 1.75rem;
  outline: none;
  border: none;

  color: rgba(248, 113, 113);
}

.wrapper__btn {
  display: flex;
}

.btn {
  flex-grow: 1;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn_search {
  color: rgba(248, 113, 113);
}

.btn_cancel {
  color: rgba(107, 114, 128);
}

/* -----------------RIGHT HEADER---------------- */

.wrapper__profile .link {
  display: none;
  white-space: nowrap;
  font-size: 14px;
}

.scrolled .profile .link {
  color: #666;
}

.globe {
  margin-right: 0;
  margin-left: 16px;

  color: rgb(209, 213, 219);
}

.switch {
  background: transparent;
  border: none;
  outline: none;
  margin-right: 0;
  margin-left: 16px;
  font-size: 14px;

  cursor: pointer;
  font-size: 1.125rem;
}

.switch__icon {
  height: calc((6 / 4) * 16px);
  cursor: pointer;
  fill: #fafafc;
}

.globe__icon {
  height: calc((6 / 4) * 16px);
  cursor: pointer;
  animation: spin 1s linear infinite;
  fill: #fff;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  display: flex;
  align-items: center;

  margin-right: 0;
  margin-left: 16px;
  padding: 0.5rem;

  background-color: rgb(243, 244, 246);

  border: 2px solid;
  padding: calc((2 / 4) * 16px);

  border-radius: 9999px;
}

.user__icon_circle {
  color: rgb(46, 46, 72);
  height: 1.5rem;
  width: 1.5rem;
}

.menu__icon {
  margin-right: 0;
  margin-left: 0.5rem;

  height: 1.5rem;

  color: rgb(46, 46, 72);
}

/* -------------SEARCH MOBILE------------- */

.search__mobile {
  display: flex;
  align-items: center;

  background-color: rgb(243, 244, 246);

  border-width: 2px;
  border-radius: 9999px;

  z-index: 50;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.search__mobile input {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: none;
  text-align: center;
  color: rgb(75, 85, 99);

  font-size: 1rem;
  line-height: 1.25rem;

  padding: 0.5rem;
  background-color: transparent;
  flex: 1;
}
.search__mobile input::placeholder {
  color: rgb(46, 46, 72);

  font-weight: 500;
  font-size: 1.2rem;
}

.search__mobile .search__icon {
  fill: #fff;
  border-radius: 9999px;
  cursor: pointer;
  height: 1.25rem;
  margin-right: 0.75rem;
  flex: 0 0 1.25rem;
}

.btn__search {
  background: rgb(248, 113, 113);
  border: none;
  padding: 0.5rem 0.875rem;
  height: 3rem;
  max-width: 3rem;
  display: flex;

  align-items: center;
  border-radius: 99px;
  font-weight: 700;
  font-size: 1rem;

  margin-right: 10px;
}

/* ------------Responsive------------------- */

@media screen and (min-width: 768px) {
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .search__mobile input {
    color: rgb(46, 46, 72);
    font-weight: 500;
    font-size: 1.2rem;
  }

  .wrapper__logo {
    display: flex;
  }

  .wrapper__header {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .header__inner {
    display: flex;
  }

  .wrapper__profile {
    display: flex;
  }

  .profile {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .scrolled .wrapper__nav {
    display: none;
  }
  .wrapper__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .search__mobile {
    display: none;
  }

  .scrolled .search__mobile {
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  .wrapper__profile {
    display: flex;
    align-items: center;
  }
  .wrapper__profile .link {
    display: inline-flex;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper__search {
    transform: none;
  }
}
