.navbar {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 0.5rem;
  border-top: 1px solid #ebebeb;
}

.hidden {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: red;
  padding: 0.5rem;
  border-top: 1px solid #ebebeb;
}

.wrapper__link {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  max-width: 560px;
}

.link {
  display: flex;
  flex: 1 1 0px;
  text-align: center;
  max-width: 20%;
  padding: 0 2px;
  color: inherit;
}

.link.active {
  color: #ff385c;
}

.group__icon:not(:first-child) {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-right: 0;
  margin-left: 2rem;
}

.icon {
  cursor: pointer;
  height: 1.75rem;
  fill: inherit;
}

.group__icon p {
  font-weight: 600;
  color: inherit;
  font-size: 0.75rem;
  line-height: 1rem;
}

@media screen and (min-width: 640px) {
  .group__icon:not(:first-child) {
    margin-right: 3rem;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 0.2rem;
  }
  .navbar .wrapper__link {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    max-width: 560px;
  }

  .hidden {
    display: none;
  }
}
