footer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 2.5rem;

  color: rgba(75, 85, 99);

  padding: 3.5rem 7rem;
}

.wrapper__text {
  font-size: 0.75rem;
  line-height: 1rem;
}

.title {
  font-weight: bold;
  font-size: 15px;
}

.desc {
  font-size: 14px;
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.wrapper {
  position: relative;
  width: 100%;
  height: 160px;
  display: none;
  overflow: hidden;
}

.road {
  height: 100%;
  width: calc(100% + 1440px);
  background-repeat: repeat-x;
  margin-left: -1440px;
  background-image: url(../../images/road.svg);
  -webkit-animation: forward 96s linear infinite;
  animation: forward 96s linear infinite;
}

.cloud {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../images/cloud.svg);
  animation: forward 256s linear infinite reverse;

  height: 100%;
  width: calc(100% + 1440px);
  background-repeat: repeat-x;
  margin-left: -1440px;
}

@keyframes forward {
  from {
    transform: translate(90vw);
  }

  to {
    transform: translate(0);
  }
}

.sun {
  position: absolute;
  top: 0;
  left: 30%;
  background-image: url(../../images/sun.svg);
  height: 50px;
  width: 50px;

  -webkit-animation: spin 36s linear infinite;
  animation: spin 36s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 640px) {
}

@media screen and (min-width: 768px) {
  footer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .wrapper {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
}
