.lg__card {
  margin: 3rem 3rem 0;
}

.wrapper__img {
  position: relative;
  height: 24rem;
  min-width: 300px;
}

.wrapper__img > div:first-child {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  margin: 0;
}

.wrapper__img div {
  border-radius: 1rem;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.banner .img {
  content: url(https://a0.muscache.com/im/pictures/a915ff27-6062-436d-a7a9-007685423f7b.jpg?im_w=720);
}

.wrapper__text {
  position: absolute;

  color: #1a202c;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;

  padding: 10px 20px 0;
  height: 100%;
  width: 360px;
}

.title {
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  width: 16rem;
}

.button {
  padding: 0.75rem 1.5rem;
  font-size: 1.15rem;
  font-weight: 600;

  color: #1a202c;
  background-color: #fff;

  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.banner .title {
  color: rgb(34, 34, 34);
}

p {
  margin-bottom: 1.5rem;
}

.banner .button {
  color: #fff;
  background-color: rgb(34, 34, 34);
}

.button:hover,
.button:focus {
  box-shadow: 0 0 0 2px #262648, 0 0 0 4px #fafafc;
}

.button:active {
  transform: scale(0.9);
  transition: transform 0.15s ease-out;
}

@media screen and (min-width: 768px) {
  .wrapper__text {
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
    color: #fff;
  }
}

@media screen and (min-width: 1280px) {
  .banner .img {
    content: url(https://a0.muscache.com/im/pictures/258b129d-d1cd-48b5-86d4-86206c13ebf7.jpg?im_w=1440);
  }
}
