.img__overlay {
  /* position: relative;
  height: 300px; */
  background: linear-gradient(rgba(10, 12, 44, 0.5) 3rem, transparent 10rem) center center / cover,
    url(https://a0.muscache.com/im/pictures/e4a2a61c-589f-4e49-b3b8-968a6bc23389.jpg) left bottom /
      cover;
  height: fit-content;
  color: #fafafc;
  padding: 15rem 3rem 6rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper__text {
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
}

.text__inner {
  max-width: 40%;
}

.title {
  font-weight: 900;
  font-size: clamp(2rem, 5.5vw, 3.25rem);
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.button {
  display: inline-block;
  white-space: nowrap;
  padding: 0.75rem 1.5rem;
  font-size: 1.15rem;
  font-weight: 600;
  color: #484848;
  background: #fafafc;
  border-radius: 0.66rem;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0.5rem 1.5rem -0.5rem currentColor;
  box-shadow: 0 0.5rem 1.5rem -0.5rem currentColor;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.button:active {
  transform: scale(0.9);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 150ms;
}

@media screen and (min-width: 640px) {
  .img__overlay {
    height: 400px;
  }

  .text {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .img__overlay {
    height: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .img__overlay {
    height: 600px;
  }
}

@media screen and (min-width: 1536px) {
  .img__overlay {
    height: 700px;
  }
}
